body {

    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

.flexDisplay {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.App {

    width: 100vw;
    min-height: 100vh;
    padding: 0px 5vw;
    text-align: center;

}

.App a {

    padding: 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: blueviolet;

}

.App h2 {

    text-align: center;
    font-size: 17pt;
    /* text-indent: 2em; */

}

.App p {

    text-align: justify;
    text-indent: 2em;

}

.openTheLetter h2 {

    width: 85%;
    text-align: justify;
    text-indent: 1.5em;
    /* background-color: rebeccapurple; */

}

.theLetter {

    margin-top: 8vh;
    padding-bottom: 8vh;

}